<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>Color Contrast Checker</h1>
  <label for="fcolor">
    <input type="color" value="#000000" id="fcolor" v-model="fColor" v-on:input="getRatioResults" />
    <input type="text" placeholder="#000000" v-model="fColor" v-on:input="getRatioResults" />
    Foreground Color
  </label>
  <label for="bcolor">
    <input type="color" value="#ffffff" id="bcolor" v-model="bColor" v-on:input="getRatioResults"/>
    <input type="text" placeholder="#ffffff" v-model="bColor" v-on:input="getRatioResults" />
    Background Color
  </label>
  <p>{{ bColor }}</p>
  <p>{{ fColor }}</p>
  <p>{{ responseData }}</p>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        bColor: '#ffffff',
        fColor: '#000000',
        responseData: {}
      },
      methods: {
        getRatioResults: function() {
          if ((this.bColor.length < 6 || this.bColor.length > 7) || (this.fColor.length < 6 || this.fColor.length > 7)) return;
          const bColor = this.bColor.charAt(0) === "#" ? this.bColor.substr(1) : this.bColor;
          const fColor = this.fColor.charAt(0) === "#" ? this.fColor.substr(1) : this.fColor;
          // send the colors to a proxy file to avoid a CORS issue.
          axios.get(`/proxy.php?fcolor=${fColor}&bcolor=${bColor}`)
            .then((response) => {
              this.responseData = response.data;
            })
        }
      }
    })
  </script>
</body>
</html>
